@import "../../styles.scss";

.content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    &__title {
        color: #8728f3;
        .filter {
            border: none;
            color: #8728f3;
            border: none;
            margin: 0.5rem;
            &:hover {
                border: 1px solid #8728f3;
            }
        }
        .select {
            background-color: #8728f3;
            color: #fff;
        }
        .btnAdd {
            margin: 1rem;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: #8728f3;
            position: fixed;
            bottom: 2rem;
            right: 3rem;
            p {
                margin: 0;
                margin-top: -12px;
                font-size: 3rem;
                font-weight: 600;
                color: #fff;
            }
        }
    }
    &__form {
        &__grid {
            display: grid;
            grid-template-columns: 50% 50%;
            @include sm {
                grid-template-columns: auto;
            }
            .card {
                padding: 15px;
                margin: 0.5rem;
                box-shadow: 3px 3px 19px -5px #919191;
                border-radius: 15px;
                h4 {
                    color: #8728f3;
                }
                p,
                input,
                select,
                textarea {
                    width: 100%;
                }
                input,
                select,
                textarea {
                    padding: 5px 0;
                }
            }
        }
        &__btns {
            text-align: center;
            button {
                cursor: pointer;
                margin: 0.5rem;
                border-radius: 15px;
                padding: 0.5rem;
                width: 200px;
            }
            input {
                border: 1px solid #8728f3;
            }
            .cancel {
                border: none;
                color: #8728f3;
                border: 1px solid #8728f3;
            }
            .save {
                border: none;
                background-color: #8728f3;
                color: #fff;
            }
        }
    }

    &__list {
        border-bottom: #919191 1px solid;
        button {
            border: none;
            color: #8728f3;
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 15px;
            margin: 0 1rem;
        }
        &__checkbox{
            background-color: #8728f3;
            margin: auto 0.5rem;
        }
        &__info {
            max-width: 80%;
        }
    }
    ul {
        list-style: none;
        li {            
            h5 {
                margin-bottom: 0;
            }
            span {
                color: #8728f3;
                font-weight: 500;
            }
            .icon {
                margin: 2rem;
                cursor: pointer;
            }
        }
    }
}
.flex {
    display: flex;
}
p {
    margin-right: 1rem;
}
