@import "../../styles.scss";

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #8728f3;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    &__content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .img {
        margin: 30px 8px;
        width: 20px;
        height: 20px;
    }
    .main {
        margin-left: 2rem;
    }
    .btn {
        margin-right: 2rem;
    }
    .flex {
        display: flex;
        cursor: pointer;
    }
}
