* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
.spacer {
    flex: 1 1 auto;
}

/* Responsive */
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

@mixin sm {
    @media (max-width: #{$sm-width}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$md-width}) {
        @content;
    }
}

@mixin lg {
    @media (max-width: #{$lg-width}) {
        @content;
    }
}

@mixin xl {
    @media (max-width: #{$xl-width}) {
        @content;
    }
}
